################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProfixApiConnectorExamples/FileContentIndex/035cddca-d02b-4c13-9633-62277d1767e7.vsidx
/.vs/ProfixApiConnectorExamples/FileContentIndex/2438fe65-d9d3-445e-b148-80c0f9163175.vsidx
/.vs/ProfixApiConnectorExamples/FileContentIndex/fe5f3349-0d48-4845-a0a5-cc62278a9da3.vsidx
/.vs/ProfixApiConnectorExamples/v17/.wsuo
/.vs/ProfixApiConnectorExamples/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ClientCredentials/obj/project.nuget.cache
/ClientCredentials/obj/ClientCredentials.csproj.nuget.dgspec.json
/ClientCredentials/obj/ClientCredentials.csproj.nuget.g.props
/ClientCredentials/obj/ClientCredentials.csproj.nuget.g.targets
/ClientCredentials/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ClientCredentials/obj/Debug/net8.0/ClientCredentials.AssemblyInfo.cs
/ClientCredentials/obj/Debug/net8.0/ClientCredentials.AssemblyInfoInputs.cache
/ClientCredentials/obj/Debug/net8.0/ClientCredentials.assets.cache
/ClientCredentials/obj/Debug/net8.0/ClientCredentials.csproj.AssemblyReference.cache
/ClientCredentials/obj/Debug/net8.0/ClientCredentials.GeneratedMSBuildEditorConfig.editorconfig
/ClientCredentials/obj/Debug/net8.0/ClientCredentials.GlobalUsings.g.cs
/ClientCredentials/obj/project.assets.json
/ClientCredentials/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ClientCredentials/obj/Release/net8.0/ClientCredentials.AssemblyInfo.cs
/ClientCredentials/obj/Release/net8.0/ClientCredentials.AssemblyInfoInputs.cache
/ClientCredentials/obj/Release/net8.0/ClientCredentials.assets.cache
/ClientCredentials/obj/Release/net8.0/ClientCredentials.csproj.AssemblyReference.cache
/ClientCredentials/obj/Release/net8.0/ClientCredentials.GeneratedMSBuildEditorConfig.editorconfig
/ClientCredentials/obj/Release/net8.0/ClientCredentials.GlobalUsings.g.cs
/Password/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Password/obj/Debug/net8.0/Password.AssemblyInfo.cs
/Password/obj/Debug/net8.0/Password.AssemblyInfoInputs.cache
/Password/obj/Debug/net8.0/Password.assets.cache
/Password/obj/Debug/net8.0/Password.csproj.AssemblyReference.cache
/Password/obj/Debug/net8.0/Password.GeneratedMSBuildEditorConfig.editorconfig
/Password/obj/Debug/net8.0/Password.GlobalUsings.g.cs
/Password/obj/Password.csproj.nuget.dgspec.json
/Password/obj/Password.csproj.nuget.g.props
/Password/obj/Password.csproj.nuget.g.targets
/Password/obj/project.assets.json
/Password/obj/project.nuget.cache
/Password/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Password/obj/Release/net8.0/Password.AssemblyInfo.cs
/Password/obj/Release/net8.0/Password.AssemblyInfoInputs.cache
/Password/obj/Release/net8.0/Password.assets.cache
/Password/obj/Release/net8.0/Password.csproj.AssemblyReference.cache
/Password/obj/Release/net8.0/Password.GeneratedMSBuildEditorConfig.editorconfig
/Password/obj/Release/net8.0/Password.GlobalUsings.g.cs
/ProfixApiConnectorExamples/obj/AuthenticationToken.csproj.nuget.dgspec.json
/ProfixApiConnectorExamples/obj/AuthenticationToken.csproj.nuget.g.props
/ProfixApiConnectorExamples/obj/AuthenticationToken.csproj.nuget.g.targets
/ProfixApiConnectorExamples/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ProfixApiConnectorExamples/obj/Debug/net8.0/AuthenticationToken.AssemblyInfo.cs
/ProfixApiConnectorExamples/obj/Debug/net8.0/AuthenticationToken.AssemblyInfoInputs.cache
/ProfixApiConnectorExamples/obj/Debug/net8.0/AuthenticationToken.assets.cache
/ProfixApiConnectorExamples/obj/Debug/net8.0/AuthenticationToken.csproj.AssemblyReference.cache
/ProfixApiConnectorExamples/obj/Debug/net8.0/AuthenticationToken.GeneratedMSBuildEditorConfig.editorconfig
/ProfixApiConnectorExamples/obj/Debug/net8.0/AuthenticationToken.GlobalUsings.g.cs
/ProfixApiConnectorExamples/obj/project.assets.json
/ProfixApiConnectorExamples/obj/project.nuget.cache
/ProfixApiConnectorExamples/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ProfixApiConnectorExamples/obj/Release/net8.0/AuthenticationToken.AssemblyInfo.cs
/ProfixApiConnectorExamples/obj/Release/net8.0/AuthenticationToken.AssemblyInfoInputs.cache
/ProfixApiConnectorExamples/obj/Release/net8.0/AuthenticationToken.assets.cache
/ProfixApiConnectorExamples/obj/Release/net8.0/AuthenticationToken.csproj.AssemblyReference.cache
/ProfixApiConnectorExamples/obj/Release/net8.0/AuthenticationToken.GeneratedMSBuildEditorConfig.editorconfig
/ProfixApiConnectorExamples/obj/Release/net8.0/AuthenticationToken.GlobalUsings.g.cs
/.vs/ProfixApiConnectorExamples/FileContentIndex/2c767c74-7a4e-4c92-98ae-bd5a4f9cb45d.vsidx
